<!DOCTYPE html>
<html lang="zh-cn" class="login">
  <head>
    <meta charset="UTF-8">
    <title>Bakenray 的个人博客 </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="Node.js搭建的个人博客，分享Node.js技术">
    <meta name="keywords" content="Node,Node.js,node,node.js,博客,技术,Node的博客">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/main.css'/>
  </head>
  <body>
      <section>
            <form action="/login" method="POST">
                <div class="form-group">
                    <input type="text" name="name" placeholder="登录名">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="密码">
                    <%if(message){%>
                        <p>
                            <%=message%>
                        </p>
                    <%}%>
                </div>
                <div class="form-group">
                    <input type="submit" value="登录">
                </div>
            </form>
      </section>

      <footer>
          <p> Copyright © 2020 Node.js</p>
          <p> Powered by Express</p>
          <p> Developed by Bakenray</p>
      </footer>
  </body>
</html>
